<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= h(yield(:title) || "Untitled")%></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
   <%= javascript_include_tag "jquery-1.4.4.min.js", "jquery.rails.js", "jquery.color.js","jquery.jgrowl.js", "create_element.js" %>
  </head>
<body>
<%= render 'layouts/header' %>
<div id="section">
    <div id="sidebar">
      <p style="margin:0 0 10px 10px; font-size: 14pt;">Каталог</p>
      <ul>
        <li class="sidebar_item"><%= link_to 'Сумки текстильные', sumki_tekstil_path %></li>
        <li class="sidebar_item"><%= link_to 'Косметички для упаковки подарков', cosmetika_podarok_path %></li>
        <li><%= link_to 'Косметички на каждый день', cosmetika_den_path %></li>
        <li><%= link_to_pages('Промо-продукция', "promo_product") %></li>
        <li><%= link_to_pages('Текстиль для парикмахеров', "for_parikmaxer") %></li>
      </ul>
    </div>
    <div id="content">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <div style="clear: left;"></div>
    </div>
  </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
